<h1>Chapéu de Palha</h1>

<%= link_to "Clientes", clients_path, style:"text-decoration: none;" %> |
<%= link_to "Produtos", products_path, style:"text-decoration: none;" %> |
<%= link_to "Pedidos", orders_path, style:"text-decoration: none;" %>
